.product-list-block{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 25px;
  background-color: #f5f5f5;
}
.product-list-card {
    width: 19%;
    padding: 15px;
}
.mat-mdc-card-header, .mat-mdc-card-content, .mat-mdc-card-actions{
  padding: 0;
}