<div class="product-list-block" *ngIf="posts; else loading">
    <ng-container *ngFor="let product of posts;">
        <mat-card class="product-list-card">
            <img mat-card-image [src]="product.thumbnail" [alt]="product.title" />
            <mat-card-header>
                <mat-card-title>
                    <a href="javascript:void(0);" [routerLink]="'details/'+ product.id">{{product.title | slice: 0: 50}}{{product.title.length >50 ? '...' : ''}}</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{product.content | slice: 0: 150}}{{product.content.length >150 ? '...' : ''}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="adToCart(product.id)">Add to Cart</button>
                <button mat-raised-button color="secondary" [routerLink]="'/shippingDetails/'+ product.id" (click)="addItemToOrder(product.id)">Buy Now</button>
                
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>
<ng-template #loading>
    <app-loading loadingText='Loading products...'></app-loading>
</ng-template>
